<body>
    <header>
        <h2 class="logo" routerLink="main-page">WEBSTER</h2>        
    </header>
    <div class="wrapper">
        <div class="form-box get-started">
            <h2>Forgot Password</h2>
                <form (ngSubmit)= "retrieve()" [formGroup]="forgotPassword">                
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-envelope'></i></span>
                        <input type="email" formControlName="emailAdress">
                        <label>Email</label>
                    </div>
                    <button type="submit" class="main-btn">Submit</button>                                     
                </form>
        </div>
    </div>    
</body>




   
    


