<body>
    <header>
        <h2 class="logo" routerLink="select-profile">WEBSTER</h2>        
    </header>
    <div class="wrapper">
        <div class="form-box get-started">
            <h2>Login</h2>
                <form (ngSubmit)="login()" [formGroup]="userLogin">
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-envelope'></i></span>
                        <input type="email" formControlName="email">
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-lock-alt'></i></span>
                        <input type="password" formControlName="password">
                        <label>Password</label>
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox">Remember me</label>
                        <a routerLink="/forgot-password" >Forgot Password?</a>
                    </div>
                    <button type="submit" class="main-btn">Login</button>
                    <div class="register">
                        <p>If you don't have an account<a routerLink="/register" class="register-link"> Register here!</a></p>
                    </div>
                </form>
        </div>
    </div>    
</body>




