    <body>
        <header>
            <h2 class="logo">WEBSTER</h2>
            <nav class="navigation">   
                <a href="#">Blog</a>
                <a href="#">Contact Us</a>
                <button class="btnLogin-popup" routerLink="/login">Get Started</button>
            </nav>
        </header>        
        <footer>  
            <ul class="navbar">        
                <li><a href="#">Terms of use</a></li>
                <li><a>|</a></li>
                <li><a href="#">Privacy Policy</a></li>  
            </ul>         
        </footer>       
    </body>




