<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metrics</title>
    
</head>
<body>
    <section class="side-bar">
        <h2 class="logo" routerLink="/user-profile">WEBSTER</h2>        
        <div class="params">
            <p>Parameter 1</p>
            <p>Parameter 2</p>
            <p>Parameter 3</p>
            <p>Parameter 4</p>
            <p>Parameter 5</p>            
        </div>        
    </section>
    <section class="main">
        <h1>Your current metrics</h1>        
        <div class="bottom-section">           
            <div id="chart"></div>
        </div>       
    </section>
</body>
</html>